{
  "OCM_REGION": "",
  "OCM_TARGET_COMPARTMENT_OCID": "",
  "OCM_TARGET_VCN_OCID": "",
  "OCM_TARGET_SUBNET_OCID": "",
  "OCM_ASSET_SOURCE_OCID": "",
  "OCM_REPLICATION_BUCKET_OCID": "",
  "OCM_POLL_INTERVAL_SECONDS": "30",
  "DEFAULT_DEST_COMPARTMENT": "",
  "DEFAULT_DEST_VCN": "",
  "DEFAULT_DEST_SUBNET": "",
  "ADMIN_USERNAME": "admin",
  "OCM_NAMESPACE": ""
}
