{
    "latest_version": "1.2.0",
    "release_notes_url": "https://github.com/oracle-quickstart/expresslane/releases/tag/v1.2.0",
    "download_url": "https://github.com/oracle-quickstart/expresslane/releases/download/v1.2.0/expresslane-1.2.0.tar.gz"
}
